body {
    background-color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}

header {
    height: 150px;
    background-color: rgb(148, 210, 212);
}

nav {
    height: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(107, 171, 173);
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: rgb(107, 171, 173);
}